services:
  frontend:
    build:
      context: frontend
    env_file:
      - frontend/.env
    volumes:
      - frontend:/app/frontend/dist
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '0.5'

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - db:/data/db
    ports:
      - 27017:27017
    networks:
      - internal
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1.0'

  backend:
    restart: always
    build:
      context: backend
    environment:
      - DB_ADDRESS=mongodb://root:example@mongo:27017/weblarek?authSource=admin
      - PORT=3000
      - UPLOAD_PATH=images
      - UPLOAD_PATH_TEMP=temp
      - ORIGIN_ALLOW=http://localhost
      - AUTH_REFRESH_TOKEN_EXPIRY=10y
      - AUTH_ACCESS_TOKEN_EXPIRY=10y
    volumes:
      - ./backend/src:/app/src
      - public:/app/src/public
    ports:
      - 3000:3000
    networks:
      - internal
    depends_on:
      - mongo
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '0.75'

  server:
    build:
      context: nginx
    ports:
      - 80:80
    volumes:
      - frontend:/var/app
      - public:/var/public
    depends_on:
      - frontend
      - backend
    networks:
      - internal
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: '0.5'

volumes:
  frontend:
  public:
  db:

networks:
  internal:
